doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type='image/png', sizes='32x32', href='./images/favicon-32x32.png')
    link(rel='stylesheet', href='./style/page3.css')
    title register page
  body
    .containerRegister
      h1#RegisterMsg Register
      .RegisterInput
        input#name(type='text', placeholder='Name',name="name1")
        input#birthDate(type='date', placeholder='Birth Date',name="birthDate1")
        input#RegisterEmail(type='email', placeholder='E mail',name="RegisterEmail1")
        input#RegisterPassword(type='password', placeholder='Password',name="RegisterPassword1")
        button#reg(onclick='location.href="/";') REGISTER